.font-raleway{
  font-family: 'Raleway', sans-serif;
}

.font-montserrat{
  font-family: 'Montserrat', sans-serif;
}

.font-montalternates{
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: italic;
}

.font-quicksand{
  font-style: italic;
  font-family: 'Quicksand', sans-serif;
}
